<div id="clueEdit">
  <div>
    Clue Name: <input ng-model="clue.name"/>
    </div>
  <div>
    Question: <textarea ng-model="clue.question"></textarea>
  </div>
    <div class="btn-group">
      <div id="answer" ng-repeat="answer in clue.answers">
          <label class="btn btn-primary"
                 ng-model="clue.correctAnswer"
                 uib-btn-radio="'{{answer.key}}'">
            {{answer.key}}
          </label>: <textarea ng-model="answer.answer"></textarea>
      </div>
    </div>
  <div>
    Correct Answer: {{clue.correctAnswer}}
  </div>
</div>
