<div class="modal modal-overlay" ui-if='clueEdit' ui-state='clueEdit'>
  <div class="modal-dialog">
  <div class="modal-header">
    Selected Clue: {{clues[selectedClue].name}}
  </div>
    <div class="modal-body">
      <uib-tabset vertical="true" type="pills">
        <div ng-repeat="answer in clues[selectedClue].answers">
          <div ng-repeat="(key,value) in answer">
            <uib-tab heading="{{key}}: {{value}}">Selected: {{key}}</uib-tab>
          </div>
        </div>
      </uib-tabset>
    </div>
</div>
</div>
