<div class="modal modal-overlay" ui-if='clueEdit' ui-state='clueEdit'>
  <div class="modal-dialog">
  <div class="modal-header">
    Selected Clue: {{clues[selectedClue].name}}
  </div>
    <div class="modal-body">
      Question: <textarea ng-model="clues[selectedClue].question"></textarea>
      <!--<uib-tabset vertical="true" type="pills">-->
        <div class="button-grp">
        <div ng-repeat="answer in clues[selectedClue].answers">
            <cr-answer-edit answer="answer"></cr-answer-edit>
        </div>
        </div>
      <!--</uib-tabset>-->
    </div>
    Correct Answer: {{correctAnswer}}
</div>
</div>
