
#locationSelection {
    margin: 6px;
}

#locEditActions {
    margin: 6px;
}

.entry-field {
    margin: 6px;
    border-radius: 6px;
    border: 2px solid #0000FF;
    padding: 8px;
}

.entry-field p {
    text-align: left;
}
