<link rel="stylesheet" href="./js/status/status.css"/>
<div class="status cr-common" ng-controller="StatusController as vm">

  <div id="historyControl" class="cr-dataview">
    Location: {{locationState.location.name}}<br>
    <uib-pagination
            total-items="getLocationCount()"
            items-per-page="1"
            ng-model="locationState.currentPage"
            ng-change="locationState.pageChanged()"
            >
    </uib-pagination>
  </div>

  <div id="pathControl" class="cr-dataview">
    Path Index: {{state.pathIndex}}<br>
    Path ID: {{state.pathId || 'Begin Play'}}<br>
    <uib-pagination
            total-items="getLocationCount()"
            items-per-page="1"
            ng-model="vm.pageForPath"
            ng-change="vm.pathChange()"
            >
    </uib-pagination>
  </div>

  <div class="cr-dataview">
    <button ng-click="arrived()">Arrived at Location</button>
  </div>
</div>