<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ClueRide Player</display-name>

    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <!-- REST Packages are configured within the Application module. -->
        <init-param>
            <!-- Sets up the dependency injection for Guice-HK2 Bridge. -->
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.clueride.CluerideJerseyModule</param-value>
        </init-param>
        <!-- Configuration of Trace Logging on Jersey calls. -->
        <init-param>
            <param-name>jersey.config.server.tracing.type</param-name>
            <param-value>ALL</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CORS Filter</filter-name>
        <filter-class>com.clueride.infrastructure.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CORS Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>CluerideSessionFilter</filter-name>
        <filter-class>com.clueride.infrastructure.CluerideSessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CluerideSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <resource-ref>
        <description>
            Resource reference to a factory for javax.mail.Session
            instances that may be used for sending electronic mail
            messages, preconfigured to connect to the appropriate
            SMTP server.
        </description>
        <res-ref-name>
            mail/Session
        </res-ref-name>
        <res-type>
            javax.mail.Session
        </res-type>
        <res-auth>
            Container
        </res-auth>
    </resource-ref>

</web-app>
