<link href="js/clue/clue.css" rel="stylesheet">
<div class="modal" ui-if='solveClue' ui-state='solveClue'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content" ng-controller="ClueController">
      <form>
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="solveClue">&times;</button>
        <h4 class="modal-title" ng-bind="clue.question"></h4>
      </div>
      <div class="modal-body">
        <uib-tabset vertical="true" type="pills">
          <div ng-repeat="answer in clue.answers">
            <uib-tab heading="{{answer.key}}: {{answer.answer}}">Selected: {{answer.key}}</uib-tab>
          </div>
        </uib-tabset>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="solveClue" ng-click="submit()" class="btn btn-default">Not sure just yet</button>
        <button ui-turn-off="solveClue" ng-click="submit()" class="btn btn-primary">Check my Answer</button>
      </div>
      </form>
    </div>
  </div>
</div>
