
.mapFrame {
	float: left;
	margin-right: 1em;
	width: 46%;
	height: 600px;
	border: 2px;
	border-style: solid;
	border-color: #40F;
}

.workingFrame {
    float: left;
    width: 46%;
    margin: 6px;
}