<!-- Modal Dialog for Logging In, which is presented as Join Team -->
<div class="modal" ui-if='joinTeam' ui-state='joinTeam'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content" ng-controller="JoinTeamController as vm">

      <div class="modal-header">
        <button class="close" ui-turn-off="joinTeam">&times;</button>
        <h4 class="modal-title">Join Team</h4>
      </div>

      <div class="modal-body">
        <label>Team:</label> Spokes Folks<br>
        <label>Login Name:</label>
        <input type="text" ng-model="vm.loginName" class="form-control" autofocus/>
        <label>Password:</label>
        <input type="password" ng-model="vm.password" class="form-control"/>
      </div>

      <div class="modal-footer">
        <button ui-turn-off="joinTeam" class="btn btn-default">Cancel</button>
        <button ui-turn-off="joinTeam" ng-click="vm.login()" class="btn btn-primary">Login</button>
      </div>

    </div>
  </div>
</div>
